/* Blockbuster colors:
- Yellow: https://www.color-hex.com/color-palette/1041958
- Blue: https://www.color-hex.com/color-palette/1041960
*/
* {
    font-family: Poppins , sans-serif;

    --t-yellow: #ffa900;
    --t-yellow-h: #d18c00;
    --t-blue: #0d3fa9;
    --t-blue-h: #0b3693;
}
body {
    margin: 0;
}
.page-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
.page-wrapper {
    padding: 20px;
    width: 740px;
}
.page-title {
    margin-block: 0 5px;
}