.movie-block-wrapper {
    background-color: #cfd9ee;
    border-radius: 15px;
    padding: 10px;
}
.movie-block-info-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.movie-block-left-container, .movie-block-right-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 8px;
    align-items: center;
}
.movie-block-right-container {
    justify-content: flex-end;
}
.movie-block-title {
    font-weight: bolder;
    font-size: large;
    text-decoration: none;
    color: #000;
}
.movie-block-description {
    margin: 5px 0 0;
}
.movie-block-genre {
    padding: 2px 4px;
    background: rgba(0, 60, 255, 0.38);
    color: #003198;
    border-radius: 6px;
    text-decoration: none;
    text-wrap: nowrap;
}
.movie-block-genre:hover {
    background: rgba(0, 37, 158, 0.38);
}
.movie-available-wrapper  {
    background: rgba(48, 255, 0, 0.28);
}
.movie-block-length, .movie-available-wrapper {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 4px;

    padding: 2px 4px;
    border-radius: 6px;
}
.movie-block-length {
    background: rgba(0, 0, 0, 0.1);
}
.movie-block-length > img {
    height: 18px;
}
.movie-block-year {

}